.footer {
  background-color: grey;
  border-top: 1px, solid, black;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 30px;
  width: 100%;
}

input[type="text"] {
  font-size: 12pt;
  margin: 8px 4px;
  width: 100%;
  box-sizing: border-box;
}
